extends layout

block content
  h1= title

  ul
  each val in list_categories
    li
      a(href=val.url) #{val.name}

  else
    li There are no categories.
  <br>
  a(href='/') Back to home
  <br>
  a(href='/category/create') Create a new category