extends layout

block content
  h1= title

  ul
  each val in list_items
    li
      a(href=val.url) #{val.name} 
  else
    li There are no items.
  <br>
  a(href='/') Back to home 
  <br> 
  a(href='/item/create') Create a new item  